	input.headinginput
	{
		font-size:large;
		font-weight:bold;
	}
	div.courseDiv
	{
/* 		border-bottom:solid thin black; */
		/*border-width:thin;*/
		padding:1ex;
		margin:0.5ex;
		width:90ex;
	}
	p,td
	{
		font-family:verdana;
		font-size:small;
	}
	td.firstname
	{text-align:right;}
	p.editlink
	{
		text-align:right;
		margin-top:0ex;
		margin-bottom:0ex;
	}
	p.comment{
		text-align:right;
		color:#0a0;
		margin-top:0ex;
		margin-bottom:0ex;
	}
	h2
	{
		text-transform: uppercase;
	}
	h3
	{
		margin:0ex;
		font-family:Palatino;
	}
	span.coursetitular{
	 font-weight:normal;
	 font-size:medium;
	 }
	tr.responsible
	{
/* 		background-color:#bbb; */
		font-weight:bold;
	}
	tr.notActive{
		background-color:#f99;
	}
	td
	{
		padding-left:2ex;
		padding-right:1ex;
	}
	td.totLoad{
/* 		font-weight:bold; */
		font-style:italic;
	}
	th
	{
		font-family:verdana;
		font-size:small;
		text-align:center;
	}
    th.date{
    width:15ex;
    }
	.notActiveTeacher
	{
		color:red;
	}
	span.semCourse
	{float:right;
	}
	header{
		background-color:#ddd;
		padding:1ex;
		}
	@media screen{
		a:link,a:visited
		{
			text-decoration:none;
			color:#444;
		}
		a:hover
		{
			text-decoration:underline;
		}
		
	}
	table
	{
		margin-left:1em;
		margin-top:1ex;
		border-collapse:collapse;
	}
	td.redcell{
		color:red;
	}
	td.orangecell{
		color:#d90;
	}
	td.redboldcell{
		color:red;
		font-weight:bold;
	}
	hr
	{
		border:solid thin #888;
	}
	p.SQLquery{
		font-size:x-small;
		color:#888;
	}
	@media print {
		hr {page-break-after: always;visibility:hidden;}
		h1,h2,h3 {page-break-after:avoid;}
		div.courseDiv{page-break-inside:avoid;}
		a{color:black;text-decoration:none}
		tr.responsible{font-weight:bold;}
}